/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.search_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search_box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

.search_box button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.search_box button:hover {
    background: #0056b3;
}

#error, #show h3.error {
    color: red;
}

.temp_container {
    display: flex;
    justify-content: space-between;
}
